@{
    ViewBag.Title = "Home > Index";
}

<div id="app" style="text-align: center;">
    <h1>{{WelcomeMessage}}</h1>
    <h2>Testing Webpack Hot Module Reloading - 8/16/18</h2>
</div>

<script src="~/Scripts/dist/bundle.js"></script>
<script src="~Scripts/build/appRootIndex.vue"></script>